.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
bin/**/__pycache__/
/.ipynb_checkpoints
/notebook/.ipynb_checkpoints
.ipynb_checkpoints
/singularity_cache
.coverage
.vscode/
bin/.vscode/
*.log
.nf-test/
prototype/
*.ipynb
