#stuff not needed for commits

bin/**/__pycache__/
/test*
/.ipynb_checkpoints
/notebook/.ipynb_checkpoints
.ipynb_checkpoints
.nextflow*
works
.DS_Store
/singularity_cache
/results/
.coverage
.vscode/
bin/.vscode/
bin/__init__.py