params {
  config_profile_name = 'CRG profile - slurm new cluster'
  config_profile_description = 'Configuration to run on CRG new cluster'

}

process {

    resourceLimits = [
        cpus: 64,
        memory: 100.GB,
        time: 48.h
    ]

    executor = "slurm"
    maxRetries = params.max_retries
    errorStrategy = params.err_start
    
    withLabel:process_low {
          clusterOptions = '--qos=shorter'
          cpus   = {  1                  }
          memory = { 4.GB * task.attempt }
          time   = { 1.h  * task.attempt }
    }
    withLabel:process_medium{
          clusterOptions = '--qos=short'
          cpus   = { 4                    }
          memory = { 10.GB * task.attempt }
          time   = { 6.h   * task.attempt }
    }
    withLabel:process_high {
        clusterOptions = '--qos=normal'
        cpus   = { 12                   }
        memory = { 20.GB * task.attempt }
        time   = { 12.h  * task.attempt }

    }
}
