params {
  config_profile_name = 'Local profile'
  config_profile_description = 'Configuration to run on local machine'

}


process {
    maxRetries = params.max_retries
    errorStrategy = params.err_start

    withLabel:process_low {
          cpus   = { 1                   }
          memory = { 4.GB * task.attempt }
          time   = { 1.h  * task.attempt }
       }
    withLabel:process_medium{
          cpus   = { 4                    }
          memory = { 10.GB * task.attempt }
          time   = { 6.h   * task.attempt }
    }
    withLabel:process_medium_high {
          cpus   = { 12                   }
          memory = { 50.GB * task.attempt }
          time   = { 12.h  * task.attempt }
    }
}
