// for now it needs either crg config or local config to be given by the user
// TODO make this config stand alone. No need for other configs.

stubRun = true

params {
    config_profile_name        = 'Test stub profile'
    config_profile_description = 'stub run to check pipeline function'
    
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    csv         = "${projectDir}/bin/tests/test_data/dna_experiment/test.csv"
    exp_conf    = "${projectDir}/examples/test.json"
    model       = "${projectDir}/bin/tests/test_model/dnatofloatmodel.py"
    train_conf  = "${projectDir}/bin/tests/test_model/simple_config.yaml"
}

process {
    withName: 'INTERPRET_JSON|STIMULUS_NOISE_CSV|STIMULUS_SHUFFLE_CSV|STIMULUS_SPLIT_CSV|TORCH_TRAIN' {
        container = 'quay.io/biocontainers/gawk:5.1.0'
    }
}

docker {
    enabled = true
}
