// for now it needs either crg config or local config to be given by the user
// TODO make this config stand alone. No need for other configs.

params {

    config_profile_name        = 'Test Learn profile'
    config_profile_description = 'Minimal test dataset to check if a model that should learn actually does'
    
    // Input data
    csv         = "${projectDir}/bin/tests/test_data/titanic/titanic_stimulus.csv"
    exp_conf    = "${projectDir}/bin/tests/test_data/titanic/titanic_stimulus.json"  // TODO make the data transformations available to titanic data types
    model       = "${projectDir}/bin/tests/test_model/titanic_model.py"
    tune_conf   = "${projectDir}/bin/tests/test_model/titanic_model_cpu.yaml"

}

// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 2,
        memory: 8.GB,
        time: 6.h
    ]

    maxRetries = params.max_retries
    errorStrategy = params.err_start

    withLabel:process_low {
        cpus   = { 1                   }
        memory = { 4.GB * task.attempt }
        time   = { 10.m * task.attempt }
    }
    withLabel:process_medium{
        cpus   = { 2                   }
        memory = { 6.GB * task.attempt }
        time   = { 30.m * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 4                   }
        memory = { 8.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }
}
