params {
  config_profile_name = 'Local profile'
  config_profile_description = 'Configuration to run on local machine'

}


process {
    maxRetries = params.max_retries
    errorStrategy = params.err_start

    withLabel:process_low {
          cpus   = { check_max( 1                  , 'cpus'    ) }
          memory = { check_max( 4.GB * task.attempt, 'memory'  ) }
          time   = { check_max( 1.h  * task.attempt, 'time'    ) }
       }
    withLabel:process_medium{
          cpus   = { check_max( 4                  , 'cpus'    ) }
          memory = { check_max( 10.GB * task.attempt, 'memory'  ) }
          time   = { check_max( 6.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_medium_high {
          cpus   = { check_max( 12                  , 'cpus'    ) }
          memory = { check_max( 50.GB * task.attempt, 'memory'  ) }
          time   = { check_max( 12.h  * task.attempt, 'time'    ) }
    }
}


docker {
    enabled = true
    cacheDir = 'docker_cache'

    // the following line is a prototype to fix a warning on the usage of /tmp instead of /dev/shm by Ray tuner
    //runOptions = '--shm-size=1.84gb'
}
