/* config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: "CHECK_TORCH_MODEL" {
         ext.args = { [ params.check_model_num_samples ? "-n ${params.check_model_num_samples}" : '',
                        ].flatten().unique(false).join(' ').trim()
        }
    }

    withName: "TORCH_TUNE" {
        ext.prefix = { "${combination_key}".split(' ')[0].split('\\.')[0..-2].join("_") + "-" + "${combination_key}".split(' ')[2] }
        publishDir = [
            path: { "${params.outdir}/${workflow.runName}_" + "${workflow.start}/".replaceAll('[-:]', '_').split('\\.')[0] + "/" + "${combination_key}".split(' ')[0].split('\\.')[0..-2].join("_") + "-" + "${combination_key}".split(' ')[2] },
            mode: "copy",
            overwrite: true,
            saveAs: { filename -> if (filename.endsWith("-metrics.csv")) "best_model-metrics.csv"
                else if (filename.endsWith("-config.json")) "best_model-tuneconfig.json"
                else if (filename.endsWith("-model.pt")) "best_model.pt"
                else if (filename.endsWith("-optimizer.pt")) "best_model-optimizer.pt"
                else if (filename.endsWith(".csv")) "training_data.csv"
                else if (filename.endsWith(".json")) "experiment_config.json"
                else filename
             }
        ]
    }

    withName: "STIMULUS_ANALYSIS_DEFAULT" {
        publishDir = [
            path: { "${params.outdir}/${workflow.runName}_" + "${workflow.start}/".replaceAll('[-:]', '_').split('\\.')[0] + "/analysis_default/" + "${split_transform_key}" },
            mode: params.publish_dir_mode,
            overwrite: true
        ]
    }
}

