/* config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: "GENERATE_FASTA|GENERATE_FROM_FASTA" {
        ext.args = { [ params.dna_seq_len          ? "-sl ${params.dna_seq_len}"         : '-sl 100',
                       params.motif_tag            ? "-t ${params.motif_tag}"            : '-t 5',
                       params.non_motif_tag        ? "-u ${params.non_motif_tag}"        : '-u 0',
                       params.num_seq              ? "-ns ${params.num_seq}"             : '',
                       params.motif_start          ? "-p ${params.motif_start}"          : ''
                       ].flatten().unique(false).join(' ').trim()
        }
        ext.prefix = { params.generated_fasta ? params.generated_fasta : null }
 
        // the outdir has to be the one the user specify plus stuff that makes it run unique
        publishDir = [
            path: { "${params.outdir}/${workflow.runName}_" + "${workflow.start}".replaceAll('[-:]', '_').split('\\.')[0] },
            mode: params.publish_dir_mode,
            overwrite: true
        ]
    }

    withName: ONE_STEP_TRAIN {
        ext.args = { [ params.batch_size     ? "-bs ${params.batch_size}"     : '-bs 10,100',
                       params.batch_shuffle  ? "-x ${params.batch_shuffle}"   : '-x True',
                       params.dna_seq_len    ? "-sl ${params.dna_seq_len}"    : '-sl 100',
                       ].flatten().unique(false).join(' ').trim()
        }
    }


    withName: TRAIN_MODEL {
        ext.args = { [ params.batch_size     ? "-bs ${params.batch_size}"     : '-bs 10,100',
                       params.batch_shuffle  ? "-x ${params.batch_shuffle}"   : '-x True',
                       params.dna_seq_len    ? "-sl ${params.dna_seq_len}"    : '-sl 100',
                       params.epochs         ? "-e ${params.epochs}"          : '-e 10',
                       params.filter_size    ? "-fs ${params.filter_size}"    : '-fs 2,20',
                       params.optimizer_lr   ? "-olr ${params.optimizer_lr}"  : '-olr 1e-4,0.01',
                       params.number_sample  ? "-ns ${params.number_sample}"  : '-ns 15'
                       ].flatten().unique(false).join(' ').trim()
        }
    }


}

