// for now it needs either crg config or local config to be given by the user
// TODO make this config stand alone. No need for other configs.

params {

    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    
    // Input data
    csv         = "${projectDir}/bin/tests/test_data/titanic/titanic_stimulus.csv"
    exp_conf    = "${projectDir}/bin/tests/test_data/titanic/titanic_stimulus.json"  // TODO make the data transformations available to titanic data types
    model       = "${projectDir}/bin/tests/test_model/titanic_model.py"
    train_conf  = "${projectDir}/bin/tests/test_model/titanic_model.yaml"

}
